.App {
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-collapse: collapse;
  gap: 20px;
}

.child {
  padding: 20px;
  color: black;
  background-color: white;
  border: 1px solid ;
  text-align: center;
}
