.App {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(39, 39, 39);
}


/* .App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
} */


/* this is used for image display tiles */

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-collapse: collapse;
    gap: 5px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(39, 39, 39);
}

.home {
    position: relative;
    width: 100%;
    float: right;
    margin-top: 10px;
    background-color: rgb(39, 39, 39);
}
.container {
    max-width: 1325px;
}
/* Navigation */
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 5px;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-size: large;
    text-align: left;
}
.navbar-expand .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
.ml-auto, .mx-auto {
    margin-right: 2px;
}

.navbar-dark .navbar-nav .nav-link {
    color:white;
}

/* this is used for image display tiles */

.child {
    padding: 5px;
    text-align: center;
    text-decoration-color: blue;
    background-color: #3a3a3a;
    color: white;
}

.wrapper {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    background-color: rgb(39, 39, 39);
    color: white;
}
/*For rename dropdown*/
.css-2613qy-menu.react-select-3-listbox::after {
    margin: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    visibility: visible;
    /* color: black; */
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-grid;
    grid-area: 1/1/2/3;
    grid-template-columns: 0 min-content;
    box-sizing: border-box;
    text-decoration-color: rgb(209, 137, 137);
    background-color: hsl(0, 0%, 2%);
}
.css-6j8wv5-Input:hover {
    /* color: #050505; */
    background-color:rgba(80, 78, 78, 0.151);
}

svg {
    overflow: hidden;
    vertical-align: middle;
    color: black;
}
.css-14el2xx-placeholder {
    /* color: hsl(255, 50%, 98%); */
    /* background-color: hsla(0, 1%, 55%, 0.233); */
    grid-area: 1/1/2/3;
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
}
.css-1s2u09g-control {
    text-decoration-color:#19191a;
    color: white;
    font-family: Arial;
    font-size: 18px;
    /* background-color: hsla(0, 1%, 55%, 0.233); */
    border-color: #5181b5;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    justify-content: space-between; 
    min-height: 38px;
    outline: 0!important;
    position: relative;
    /* -webkit-transition: all 100ms; */
    transition: all 100ms;
    box-sizing: border-box;
    text-decoration-color: rgb(17, 17, 17);
}

table.blueTable {
    border: 0px solid #19191a;
    width: 90%;
    height: 200%;
    text-align: left;
    border-collapse: collapse;
    margin-left: auto;
    /* half of width */
    margin-right: auto;
    /* half of height */
}

table.blueTable thead th {
    border: 1px solid #6b6b6b;
    padding: 10px 10px;
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 18px;
}

table.blueTable tbody td {
    border: 1px solid #6b6b6b;
    padding: 10px 10px;
    font-size: 13px;
    vertical-align: middle;
    color: #dddada;
}

table.blueTable tr:nth-child(even) {
    background: #292929;
}

.hyperlink{
    color: #dddada;
}

table.blueTable tr:hover {
    background: #2c2c2c;
    
}

table.blueTable thead {
    background: #414141;
    border-bottom: 1px solid#6b6b6b;;
}

table.blueTable thead th:first-child {
    border: 1px solid #6b6b6b;
}

table.blueTable tfoot td {
    font-size: 14px;
}

table.blueTable tfoot .links {
    text-align: right;
}

table.blueTable tfoot .links a {
    display: inline-block;
    background: #202020;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.myButton {
    background-color: #45c3c7;
    border-radius: 19px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    padding: 15px 50px;
    margin-left: 50px;
    text-decoration: none;
}

.myButton:hover {
    background-color: #2ab3bd;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.myButton:disabled {
    background-color: rgb(153, 151, 151);
}

.myButton1 {
    background-color: rgb(49, 133, 230);
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #f0f0f0;
    font-family: Arial;
    font-size: 16px;
    width: 100px;
    padding: 2px 5px;
    margin-left: 10px;
    text-decoration: none;
}

.myButton1:hover {
    background-color: rgb(0, 105, 226);
}

.myButton1:active {
    position: relative;
    top: 1px;
}

.myButton1:disabled {
    background-color: #636868;
    
}

.myButton2 {
    background-color: rgb(49, 133, 230);
    border: 1px;
    display: inline-block;
    cursor: pointer;
    color: #f0f0f0;
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    width: 180px;
    padding: 2px 10px;
    margin-top:10px;
    margin-left: 975px;
    margin-right: 120px;
    text-decoration: beige;
}

.myButton2:hover {
    background-color: rgb(0, 105, 226);
}

.myButton2:active {
    position: relative;
    top: 1px;
    bottom: 1px;
}

.myButton2:disabled {
    background-color: #636868;
    
}

.select_style{
    background-color: #3a3a3a;
    color: #f0f0f0;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.myButton4 {
    background-color: rgb(49, 133, 230);
    border: 1px;
    color: #f0f0f0;
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    width: auto;
    padding: 2px 10px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    text-decoration: beige;
    float: right;
}

.myButton4:hover {
    background-color: rgb(0, 105, 226);
    color: #f0f0f0;
}

.myButton4:active {
    position: relative;
    top: 1px;
    bottom: 1px;
}

.myButton4:disabled {
    background-color: #636868;
    
}

.myDwnBtn {
    background-color: rgb(49, 133, 230);
    margin-top:30px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 16px;
    padding: 8px 65px;
    margin-left: 1125px;
    text-decoration: beige;
    

}

.myDwnBtn:hover {
    color: #050505;
}

.myDwnBtn:active {
    position: relative;
    top: 1px;
}

.myDwnBtn:disabled {
    background-color: #636868;
}

img {
    width: 150px;
    height: 150px;
}

.button_group {
    width: 95%;
    position: relative;
  }

  .class {
      background-color: #2ab3bd;
      color: #050505;
  }

/*Upload CSS*/

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important; 
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 150px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    top: 275px;
    left: 255px;
    pointer-events: none;
    width: 275%;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: justify;
}

.wrapper-create{
    margin: auto;
    margin-top: 100px;
    width: 50%;
    border: 0px solid green;
    color: #dddada;
    
}

.myButton_create {
    background-color: rgb(49, 133, 230);
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #f0f0f0;
    font-family: Arial;
    font-size: 16px;
    width: 100px;
    padding: 2px 5px;
    margin: 10px;
    text-decoration: none;
}

.myButton_create:hover {
    background-color: #3d3f3f;
}

.myButton_create:active {
    position: relative;
    top: 1px;
}

.myButton_create:disabled {
    background-color: #636868;
    
}

.stats{
    margin-left: 50px;
    margin-top: 10px;
    color: #dddada;
}


            .box{float:left; height:20px; background-color: rgb(39, 39, 39); color: #dddada;}
            .box:nth-child(1){
               width:300px;
               background-color: rgb(39, 39, 39);
        
            }
            .box:nth-child(2){
               width:100px;
               background-color: rgb(39, 39, 39);
            }
            .box:nth-child(3){
               width:80px;
               background-color: rgb(39, 39, 39);
            }