.App {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(39, 39, 39);
}


/* .App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
} */


/* this is used for image display tiles */

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-collapse: collapse;
    gap: 5px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(39, 39, 39);
}

.home {
    position: relative;
    width: 100%;
    float: right;
    margin-top: 10px;
    background-color: rgb(39, 39, 39);
}

/* this is used for image display tiles */

.child {
    padding: 5px;
    text-align: center;
    background-color: #3a3a3a;
    color: white;
}

.wrapper {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    background-color: rgb(39, 39, 39);
    color: white;
}

table.blueTable {
    border: 0px solid #19191a;
    width: 90%;
    height: 200%;
    text-align: left;
    border-collapse: collapse;
    margin-left: auto;
    /* half of width */
    margin-right: auto;
    /* half of height */
}

table.blueTable th {
    border: 1px solid #6b6b6b;
    padding: 10px 10px;
    text-align: center;
}

table.blueTable tbody td {
    border: 1px solid #6b6b6b;
    padding: 10px 10px;
    font-size: 13px;
    vertical-align: middle;
    color: #dddada;
}

table.blueTable tr:nth-child(even) {
    background: #292929;
}

.hyperlink{
    color: #dddada;
}

table.blueTable tr:hover {
    background: #2c2c2c;
}

table.blueTable thead {
    background: #414141;
    border-bottom: 1px solid#6b6b6b;;
}

table.blueTable thead th {
    font-size: 18px;
    color: #dddada;
    border-left: 1px solid #6b6b6b;
}

table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot td {
    font-size: 14px;
}

table.blueTable tfoot .links {
    text-align: right;
}

table.blueTable tfoot .links a {
    display: inline-block;
    background: #202020;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.myButton {
    background-color: #45c3c7;
    border-radius: 19px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    padding: 15px 50px;
    margin-left: 50px;
    text-decoration: none;
}

.myButton:hover {
    background-color: #2ab3bd;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.myButton:disabled {
    background-color: rgb(153, 151, 151);
}

.myButton1 {
    background-color: rgb(49, 133, 230);
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #f0f0f0;
    font-family: Arial;
    font-size: 16px;
    width: 100px;
    padding: 2px 5px;
    margin-left: 10px;
    text-decoration: none;
}

.myButton1:hover {
    background-color: #3d3f3f;
}

.myButton1:active {
    position: relative;
    top: 1px;
}

.myButton1:disabled {
    background-color: #636868;
    
}

img {
    width: 150px;
    height: 150px;
}


/*Upload CSS*/

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 400% !important;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    /* bottom: 10px; */
    top: 175px;
    left: 0;
    pointer-events: none;
    width: 275%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.stats{
    margin-left: 50px;
    margin-top: 10px;
    color: white;
}


            .box{float:left; height:20px; background-color: rgb(39, 39, 39); color: white;}
            .box:nth-child(1){
               width:300px;
               background-color: rgb(39, 39, 39);
        
            }
            .box:nth-child(2){
               width:100px;
               background-color: rgb(39, 39, 39);
            }
            .box:nth-child(3){
               width:80px;
               background-color: rgb(39, 39, 39);
            }